     /*
     *  Start with the steps being hidden
     */
    #Step1, #Step2, #Step3, #Step4, #Step5, #Step6, #Step7  {
      visibility: hidden;
    }
    h1 {
      background: #CCCCCC;
      padding: .2em 1em;
      border-top: 3px solid #666666;
      border-bottom: 3px solid #999999;
    }
    #frame {
      margin-left: 2em;
    }
   #hidden.body
     {  
      visibility:hidden;
    }